<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422474369537-a5qtdeealjupbbe4p1evviptpk2aifav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422474369537-a5qtdeealjupbbe4p1evviptpk2aifav</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>422474369537-mgsr591m7eh4opeiqsg5mqs1tl65ngq0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAu-5laCYsRlv5biOz8ANSdrDuzfkZHd5w</string>
	<key>GCM_SENDER_ID</key>
	<string>422474369537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nonic.wanderly</string>
	<key>PROJECT_ID</key>
	<string>wanderly-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderly-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422474369537:ios:607961831d444fd802ce00</string>
</dict>
</plist>